html {
    font-family: 'OpenSans', sans-serif, serif, monospace;
}
.page__header-gray {
    background-color: #F6F2F2;
}
.page {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 0;
    width: 1577px;
}
.page__header {
    display: flex;
    flex-direction: column;
}
.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1249px;
    min-height: 89px;
    margin: 0 auto;
    background-color: #000000;
    border: 1px solid #000000;
    mix-blend-mode: normal;
}
.header__navig {
    display: flex;
    flex-wrap: wrap;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
/* .header-menu {

} */
.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 89px;
    width: 90px;
}
.menu__item:hover {
    background-color: #FF3F40;
}
.menu__link {
    display: flex;
    align-items: center;
    padding: 32px 0 32px 0;
    color: #E0E0E0;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    /* font-weight: bold; */
}
/* intro */
.page-content {
    flex-grow: 1;
}
.page-intro {
    padding-top: 102px;
    padding-bottom: 36px;
}
.page-intro__content {
    position: relative;
    bottom: 12px;
    /* width: 616px; */
    margin-bottom: 20px;
    margin-right: 74px;
}
.page-intro__heading {
    margin: 0;
    width: 618px;
    height: 134px;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.page-intro__text {
    /* display: flex;
    align-items: center; */
    margin: 36px 0 64px 0;
    font-size: 16px;
    line-height: 28px;
    max-width: 545px;
    height: 73px;
}
.action-button__red {
    font-size: 18px;
    line-height: 34px;
    color: #fff;
    background-color: #FF2D2D;
}
.action-button {
    box-sizing: border-box;
    display: inline-block;
    width: 227px;
    height: 56px;
    padding: 11px 0;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
}
.page-intro__img {
    width: 551px;
    height: 356px;
    margin-top: 12px;
    /* background: #000000; */
    /* mix-blend-mode: normal; */
    /* opacity: 0.2; */
}
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    /* padding-left: 1vw; */
    padding-right: 1vw;
    margin-left: 164px;
}
/* services */
.services {
    padding-top: 108px;
    /* padding-bottom: 50px; */
}
.services__header {
    flex: 1 1 524px;
    max-width: 524px;
    margin-bottom: 50px;
    margin-right: 119px;
}
.services__heading {
    position: relative;
    bottom: 6px;
    width: 524px;
    height: 87px;
    font-size: 42px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.422159px;
    margin-bottom: 50px;
}
.services__text {
    margin: 0;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 64px;
    width: 539px;
    height: 98px;
    display: flex;
    align-items: center;
}
.action-button__white {
    font-size: 18px;
    line-height: 34px;
    color: #FF2D2D;
    background-color:#fff;
    border: 2px solid #FF0000;
}
.services__blocks {
    flex: 1 1;
    max-width: 608px;
    height: 558px;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 32px; */
}
.services__footer_line {
    width: 1251px;
    height: 5px;
    background-color: #ECECEC;
}
/* service */
.service {
    flex: 1 1 282px;
    width: 282px;
    margin-bottom: 50px;
    margin-right: 18px;
    flex-wrap: wrap;
    display: flex;
}
.service__heading {
    margin: 0;
    margin-bottom: 70px;
    width: 216px;
    height: 24px;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: 0.271838px;
    color: #000000;
    font-style: italic;
    font-weight: 600;
}
.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 32px;
}
.service__text {
    margin: 0;
    width: 300px;
    height: 100px;
    font-size: 16px;
    line-height: 28px;
}
.service__heading_manage::before {
    content: url('../img/icon_man.svg');
}
.service__heading_ui::before {
    content: url('../img/icon_UI.svg');
}
.service__heading_logo::before {
    content: url('../img/icon_brand.svg');
}
.service__heading_anim::before {
    content: url('../img/icon_truck.svg');
}

/* Feature */
.feature {
    margin-top: 104px;
    justify-content: center;
}
.feature__header {
    max-width: 540px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    margin-bottom: 86px;
    justify-content: center;
}
.feature__heading {
    font-weight: 700;
    font-size: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.feature__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto 34px;
}
.header__line {
    height: 5px;
    width: 134px;
    background-color: #FF2D2D;
}
/* .feature-line {
    display: flex;
    align-items: center;
} */
.products__filter {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-bottom: 60px;
}
/* .products__item {

} */
.products__link {
    position: relative;
    left: 46px;
    color: #000000;
    margin-right: 28px;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    text-decoration: none;
}
.products__link_active {
    color: #FF2D2D;
    /* opacity: .8; */
}
.products__link:hover {
    color: #FF2D2D;
}
.products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product {
    flex: 1 1 24%;
    max-width: 300px;
    height: 292px;
    margin-bottom: 18px;
    object-fit: cover;
}
/* .product:hover {
    cursor: pointer;
    max-width: 320px;
} */